@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@700&display=swap');

:root {
	--color-bg: #e2e8f0;

	--color-black: #000000;

	--color-pastel-blue: hsla(215, 100%, 73%, 1);

	--color-accent: var(--color-pastel-blue);
	--color-error: var(--color-red);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
