@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@700&display=swap');

:root {
	--color-bg: linear-gradient(
		180deg,
		rgba(243, 244, 246, 1) 0%,
		rgba(194, 65, 12, 1) 100%
	);
	--color-black: #000000;
	/* --color-gray-dark: hsla(220, 13%, 25%, 1); */
	/* --color-white: hsla(220, 13%, 98%, 1); */
	/* --color-emerald-green: hsla(168, 92%, 25%, 1); */
	/* --color-vermillion-green: hsla(168, 92%, 43%, 1); */
	/* --color-cobalt-blue: hsla(215, 100%, 34%, 1); */
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	/* --color-red: hsl(0, 68%, 42%); */

	--color-accent: var(--color-pastel-blue);
	--color-error: var(--color-red);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code {
	--color-bg: white;
	--color-text: var(--color-accent);

	background-color: white;
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
} */

ul {
	padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
